@import "tailwindcss";

:root {
  --background: linear-gradient(180deg,rgba(0, 66, 54, 1) 30%, rgb(2, 131, 60) 80%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
background: #2a9b6a;
background: linear-gradient(90deg,rgba(42, 155, 106, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(56, 5, 92, 1) 100%);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
